/*-------------------------------------------*/
/*
* Reset
*
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    min-height: 100%;
}

td, th {
    text-align: left;
    padding: 10px;
}

p{
    font-family: "San Francisco Display Ultralight", sans-serif;
}


/*-------------------------------------------*/
/*
* Defined variables
*
*/
@font-face {
    font-family: "San Francisco Display Bold";
    src: url("../fonts/sanfranciscodisplay-bold.woff");
}

@font-face {
    font-family: "San Francisco Display Medium";
    src: url("../fonts/sanfranciscodisplay-medium.woff");
}

@font-face {
    font-family: "San Francisco Display Regular";
    src: url("../fonts/sanfranciscodisplay-regular.woff");
}

@font-face {
    font-family: "San Francisco Display Semibold";
    src: url("../fonts/sanfranciscodisplay-semibold.woff");
}

@font-face {
    font-family: "San Francisco Display Thin";
    src: url("../fonts/sanfranciscodisplay-thin.woff");
}

@font-face {
    font-family: "San Francisco Display Ultralight";
    src: url("../fonts/sanfranciscodisplay-ultralight.woff");
}


/*-------------------------------------------*/
/*
* Header/Banner/Footer
*
*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    margin-right: 30px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: "San Francisco Display Thin", sans-serif;
    text-space: 4px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #03A9F4;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: #03A9F4;
}

.banner{
    background-image: url(../img/banner.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    text-align: center;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
    background: black;
    color: white;
    font-family: "San Francisco Display Thin", sans-serif;
}


/*-------------------------------------------*/
/*
* Input Text Field
*
*/
::-webkit-input-placeholder { /* WebKit browsers */
    font-family: "San Francisco Display Thin", serif;
    color: white;
    opacity: 1 !important;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=time],
input[type=date],
input[type=number],
textarea,
option,
select {
    font-family: "San Francisco Display Thin", serif;
    font-size: 25px;
    color: black;
    padding: 17px 2px;
    margin: 10px auto;
    display: inline-block;
    border: none;
    background-color: rgba(158,158,158,0.3);
    resize: none; /*for textarea*/
}


/*-------------------------------------------*/
/*
* Text
*
*/

.haluwasa-label-input-field{
    font-family: "San Francisco Display Ultralight", serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.under-construction{
    padding: 14px 16px;
    font-size: 80px;
    font-family: "San Francisco Display Medium", sans-serif;
    color: black;
    letter-spacing: 6px;
}

.under-construction-sub{
    padding: 20px 16px;
    font-size: 30px;
    font-family: "San Francisco Display Bold", sans-serif;
    color: white;
}

.title{
    float: left;
    padding: 14px 16px;
    font-size: 20px;
    font-family: "San Francisco Display Medium", sans-serif;
    color: black;
    letter-spacing: 6px;
}

.subTitle{
    padding-top: 20px;
    font-size: 30px;
    font-family: "San Francisco Display Bold", sans-serif;
    color: white;
}

.themes{
    position: relative;
}

.haluwasa-theme{
    padding-top: 250px;
    font-family: 'Kaushan Script', cursive;
    font-size: 110px;
    color: white;
}

.haluwasa-theme-sub{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: white;
}

.haluwasa-button-submit{
    font-family: "San Francisco Display Thin", serif;
    letter-spacing: 2.5px;
    font-size: 26px;
    color: white;
    width: 15%;
    padding: 17px 40px;
    margin: 10px 60px;
    display: inline-block;
    border: none;
    background-color: #FFC00E;
}

.haluwasa-button-register-now{
    margin: 40px auto 600px auto;
    padding: 0 15px;
    text-align: center;
    border: 4px solid white;
    background: transparent;
    font-size: 30px;
    font-family: "San Francisco Display Medium", sans-serif;
    color: white;
    line-height: 60px;
    letter-spacing: 3px;
}

.haluwasa-button-register-now:hover{
    background: white;
    color: black;
}

/*-------------------------------------------*/
/*
* Pop up
*
*/
.haluwasa-popup-error-message {
    font-family: "San Francisco Display Thin", serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    width: 40%;
    padding: 17px 40px;
    margin: 10px auto;
    border: none;
    border-radius: 25px;
    background-color: rgba(255,34,36,1);
}