<div style="height: 100px;"></div>
<div style="text-align: center">
    <h1 class="under-construction" style="color: black;">Registration is now closed!</h1>
    <p class="under-construction-sub" style="color: black;">If you have any other questions, please contact us through Facebook</p>
    <button onclick="window.open('https://www.facebook.com/groups/368500736848913/')" class="haluwasa-button-back-home" style="margin-bottom: 5px">Contact Us</button><br>
    <button ui-sref="homePage" class="haluwasa-button-back-home">Home</button>
</div>