<br><br><br>
<h1 style="margin-left: 20px; font-size: 20px;">
    INSTRUCTIONS:
</h1><br>
<h1 style="margin-left: 20px;">
    If you are registering for more than one person, please fill in YOUR INFORMATION first then click on “Add Another Member”.
</h1><br>
<table style="margin-left: 20px; border: 1px solid black; border-collapse: collapse;">
    <tr>
        <th>5 years old & under</th>
        <th>6 yr - 11 yr</th>
        <th>12 yr - 19 yr</th>
        <th>20 yr - 89 yr</th>
        <th>90 yr & older</th>
    </tr>
    <tr>
        <td>FREE</td>
        <td>$60</td>
        <td>$100</td>
        <td>$120</td>
        <td>$60</td>
    </tr>
</table>

<!--error message-->
<div ng-if="errorpopup != '' && thankyou == false " class="haluwasa-popup-error-message">{{errorpopup}}</div>




<br><br>
<hr>

<!--personal info-->
<h1 style="font-size: 30px; margin-left: 20px;">Personal Info</h1><br>

<!--is volunteer-->
<label class="haluwasa-label-input-field" style="margin-left: 20px;" for="isVolunteer">Are you a volunteer?*</label>
<select ng-model="mainMember.isVolunteer" style="height: 70px;" id="isVolunteer" name="isVolunteer" ng-change="setMainMemberFee(mainMember.age); updateTotalFee()" required>
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select>

<br><br>

<!--type of volunteers-->
<div ng-if="mainMember.isVolunteer == 'Yes'">
    <label class="haluwasa-label-input-field" style="margin-left: 20px;" for="volunteerType">I am a ...</label><br>
    <select ng-model="mainMember.volunteerType" style="height: 70px; margin-left: 20px;" id="volunteerType" name="volunteerType" ng-change="setMainMemberFee(mainMember.age); updateTotalFee()" required>
        <option value="Kitchen Staff">Kitchen Staff</option>
        <option value="Youth Worship Team Member">Youth Worship Team Member</option>
        <option value="Youth Small Group Leader">Youth Small Group Leader</option>
        <option value="Guest Pastor from Vietnam">Guest Pastor from Vietnam</option>
        <option value="Staff">Staff</option>
        <option value="Guest Speaker">Guest Speaker</option>
    </select>
</div>

<br>


<form>
    <table style="text-align: start;">
        <tr>
            <th style="width: 20%">
                <label class="haluwasa-label-input-field" for="mainMemberFirstName" >First Name*</label>
                <input ng-model="mainMember.firstName" style="width: 100%" type="text" id="mainMemberFirstName" name="mainMemberFirstName"
                       required>
            </th>
            <th style="width: 20%">
                <label class="haluwasa-label-input-field" for="mainMemberLastName">Last Name*</label>
                <input ng-model="mainMember.lastName" style="width: 100%" type="text" id="mainMemberLastName" name="mainMemberLastName"
                       required>
            </th>
            <th style="width: 10%">
                <label class="haluwasa-label-input-field" for="mainMemberShirtSize">T-Shirt Size*</label>
                <select ng-model="mainMember.shirtSize" style="height: 70px; width: 100%;" id="mainMemberShirtSize" name="mainMemberShirtSize" required>
                    <optgroup label="Toddlers">
                        <option value="Toddlers: 3T">3T</option>
                        <option value="Toddlers: 4T">4T</option>
                        <option value="Toddlers: 5T">5T</option>
                    </optgroup>
                    <optgroup label="Youth">
                        <option value="Youth: S">Youth: S</option>
                        <option value="Youth: M">Youth: M</option>
                        <option value="Youth: L">Youth: L</option>
                    </optgroup>
                    <optgroup label="Junior">
                        <option value="Junior: S">Junior: S</option>
                        <option value="Junior: M">Junior: M</option>
                        <option value="Junior: L">Junior: L</option>
                        <option value="Junior: X-L">Junior: X-L</option>
                        <option value="Junior: 2X-L">Junior: 2X-L</option>
                    </optgroup>
                    <optgroup label="Adult">
                        <option value="Adult: S">Adult: S</option>
                        <option value="Adult: M">Adult: M</option>
                        <option value="Adult: L">Adult: L</option>
                        <option value="Adult: X-L">Adult: X-L</option>
                        <option value="Adult: 2X-L">Adult: 2X-L</option>
                        <option value="Adult: 3X-L">Adult: 3X-L</option>
                        <option value="Adult: 4X-L">Adult: 4X-L</option>
                    </optgroup>
                </select>
            </th>
            <th style="width: 6%">
                <label class="haluwasa-label-input-field" for="mainMemberGender">Gender*</label>
                <select ng-model="mainMember.gender" style="height: 70px; width: 100%" id="mainMemberGender" name="mainMemberGender" required>
                    <option value="Female">F</option>
                    <option value="Male">M</option>
                </select>
            </th>
            <th style="width: 6%">
                <label class="haluwasa-label-input-field" for="mainMemberAge">Age*</label>
                <input ng-model="mainMember.age" style="width: 100%" type="number" min="0" id="mainMemberAge" name="mainMemberAge" ng-blur="setMainMemberFee(mainMember.age); updateTotalFee();" required>
            </th>
            <th style="width: 20%"></th>
        </tr>
    </table>


    <!--add another member-->
    <div ng-repeat="registerMemberToAdd in registerMembersToAdd">
        <table style="text-align: start;">
            <tr>
                <th style="width: 20%">
                    <label class="haluwasa-label-input-field" for="firstName" >First Name*</label>
                    <input ng-model="registerMemberToAdd.firstName" style="width: 100%" type="text" id="firstName" name="firstName" ng-change="updateRegisterMember(registerMemberToAdd)"
                           required>
                </th>
                <th style="width: 20%">
                    <label class="haluwasa-label-input-field" for="lastName">Last Name*</label>
                    <input ng-model="registerMemberToAdd.lastName" style="width: 100%" type="text" id="lastName" name="lastName" ng-change="updateRegisterMember(registerMemberToAdd)"
                           required>
                </th>
                <th style="width: 10%">
                    <label class="haluwasa-label-input-field" for="shirtSize">T-Shirt Size*</label>
                    <select ng-model="registerMemberToAdd.shirtSize" style="height: 70px; width: 100%;" id="shirtSize" name="shirtSize" ng-change="updateRegisterMember(registerMemberToAdd)" required>
                        <optgroup label="Toddlers">
                            <option value="Toddlers: 3T">3T</option>
                            <option value="Toddlers: 4T">4T</option>
                            <option value="Toddlers: 5T">5T</option>
                        </optgroup>
                        <optgroup label="Youth">
                            <option value="Youth: S">Youth: S</option>
                            <option value="Youth: M">Youth: M</option>
                            <option value="Youth: L">Youth: L</option>
                        </optgroup>
                        <optgroup label="Junior">
                            <option value="Junior: S">Junior: S</option>
                            <option value="Junior: M">Junior: M</option>
                            <option value="Junior: L">Junior: L</option>
                            <option value="Junior: X-L">Junior: X-L</option>
                            <option value="Junior: 2X-L">Junior: 2X-L</option>
                        </optgroup>
                        <optgroup label="Adult">
                            <option value="Adult: S">Adult: S</option>
                            <option value="Adult: M">Adult: M</option>
                            <option value="Adult: L">Adult: L</option>
                            <option value="Adult: X-L">Adult: X-L</option>
                            <option value="Adult: 2X-L">Adult: 2X-L</option>
                            <option value="Adult: 3X-L">Adult: 3X-L</option>
                            <option value="Adult: 4X-L">Adult: 4X-L</option>
                        </optgroup>
                    </select>
                </th>
                <th style="width: 6%">
                    <label class="haluwasa-label-input-field" for="gender">Gender*</label>
                    <select ng-model="registerMemberToAdd.gender" style="height: 70px; width: 100%" id="gender" name="gender" ng-change="updateRegisterMember(registerMemberToAdd)" required>
                        <option value="Female">F</option>
                        <option value="Male">M</option>
                    </select>
                </th>
                <th style="width: 6%">
                    <label class="haluwasa-label-input-field" for="age">Age*</label>
                    <input ng-model="registerMemberToAdd.age" style="width: 100%" type="number" min="1" id="age" name="age" ng-blur="setRegisterMembersToAddFee(registerMemberToAdd); updateTotalFee();" required>
                </th>
                <th style="width: 20%">
                    <label class="haluwasa-label-input-field" for="relationship">Relationship*</label>
                    <input ng-model="registerMemberToAdd.relationship" style="width: 80%" type="text" id="relationship" name="relationship" ng-change="updateRegisterMember(registerMemberToAdd)" required>
                    <img src="../../img/deleteAMember.png" height="20px"  style="padding: 4px;" alt="deleteButton" ng-click="deleteMember(registerMemberToAdd)">
                </th>
            </tr>
        </table>
    </div>

    <br><br>
    <img src="../img/addAnotherMember.png" style="margin-left: 20px;" ng-click="addAnotherMember()" ng-if="mainMember.isVolunteer == 'No'">


    <br><br>
    <hr>

    <!--personal contact-->
    <h1 style="font-size: 30px; margin-left: 20px;">Personal Contact</h1>
    <table style="text-align: start">
        <th>
            <th style="width: 70%">
                <label class="haluwasa-label-input-field" for="address" >Address*</label><br>
                <input ng-model="mainMember.address" style="width: 100%;" type="text" id="address" name="address" required><br>

                <label class="haluwasa-label-input-field" for="address2" >Address 2</label><br>
                <input ng-model="mainMember.address2" style="width: 100%;" type="text" id="address2" name="address2">

                <table style="text-align: start">
                    <tr>
                        <th style="width: 50%">
                            <label class="haluwasa-label-input-field" for="phone" >Phone Number*</label><br>
                            <input ng-model="mainMember.phone" style="width: 100%;" type="tel" id="phone" name="phone" required>

                            <label class="haluwasa-label-input-field" for="homeChurch" >Home Church</label><br>
                            <input ng-model="mainMember.homeChurch" style="width: 100%;" type="text" id="homeChurch" name="homeChurch">
                        </th>
                        <th style="width: 50%">
                            <label class="haluwasa-label-input-field" for="email" >Email</label><br>
                            <input ng-model="mainMember.email" style="width: 100%;" type="email" id="email" name="email">

                            <label class="haluwasa-label-input-field" for="churchPhone" >Church Phone Number</label><br>
                            <input ng-model="mainMember.churchPhone" style="width: 100%;" type="tel" id="churchPhone" name="churchPhone">
                        </th>
                    </tr>
                </table>
            </th>
            <th>
                <label class="haluwasa-label-input-field" for="city" >City*</label><br>
                <input ng-model="mainMember.city" style="width: 100%;" type="text" id="city" name="city" required><br>

                <label class="haluwasa-label-input-field" for="state" >State*</label>
                <label class="haluwasa-label-input-field" style="margin-left: 30px;" for="zip" >Zip*</label>

                <br>

                <select ng-model="mainMember.state" style="height: 70px; width: 70px;" id="state" name="state" required>
                    <option value="AL">AL</option><option value="AK">AK</option><option value="AS">AS</option>
                    <option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option>
                    <option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option>
                    <option value="DC">DC</option><option value="FL">FL</option><option value="GA">GA</option>
                    <option value="GU">GU</option><option value="HI">HI</option><option value="ID">ID</option>
                    <option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option>
                    <option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option>
                    <option value="ME">ME</option><option value="MD">MD</option><option value="MD">MD</option>
                    <option value="MA">MA</option><option value="MI">MI</option><option value="FM">FM</option>
                    <option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option>
                    <option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option>
                    <option value="NH">NH</option><option value="NY">NY</option><option value="NC">NC</option>
                    <option value="ND">ND</option><option value="MP">MP</option><option value="OH">OH</option>
                    <option value="OK">OK</option><option value="OR">OR</option><option value="PW">PW</option>
                    <option value="PA">PA</option><option value="PR">PR</option><option value="RI">RI</option>
                    <option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option>
                    <option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option>
                    <option value="VA">VA</option><option value="VI">VI</option><option value="WA">WA</option>
                    <option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option>
                </select>
                <input ng-model="mainMember.zip" style="width: 150px; margin-left: 10px;" type="number" id="zip" name="zip" required><br>

                <table><tr><th>
                    <!--fillers-->
                    <label class="eoko-label-text-field"></label><br>
                    <input style="width: 100%; background-color: transparent" type="text" disabled><br>
                    <label class="eoko-label-text-field"></label><br>
                    <input style="width: 100%; background-color: transparent" type="text" disabled><br>
                </th></tr></table>

            </th>
        </tr>
    </table>


    <!--medical issue-->
    <br>
    <hr>
    <h1 style="font-size: 30px; margin-left: 20px;">Medical Information</h1>
    <label class="haluwasa-label-input-field" style="margin-left: 20px;" for="medical">Medical Issue/Allergies?*</label>
    <select ng-model="mainMember.medical" style="height: 70px;" id="medical" name="medical" required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <br>
    <div ng-if="mainMember.medical == 'Yes'">
        <label class="haluwasa-label-input-field" style="margin-left: 20px;" for="medicalDesc">Please specify*</label><br>
        <textarea rows="4" cols="50" style="margin-left: 20px;" ng-model="mainMember.medicalDesc" id="medicalDesc" name="medicalDesc" required></textarea>
    </div>


    <!--Emergency Contact-->
    <br><br>
    <hr>
    <h1 style="font-size: 30px; margin-left: 20px;">Emergency Contact</h1>
    <table style="text-align: start; margin-left: 20px;">
        <tr>
            <th style="width: 25%">
                <label class="haluwasa-label-input-field" for="emergencyFirstName" >First Name*</label>
                <input ng-model="mainMember.emergencyFirstName" style="width: 100%" type="text" id="emergencyFirstName" name="emergencyFirstName" required>
            </th>
            <th style="width: 25%">
                <label class="haluwasa-label-input-field" for="emergencyLastName">Last Name*</label>
                <input ng-model="mainMember.emergencyLastName" style="width: 100%" type="text" id="emergencyLastName" name="emergencyLastName" required>
            </th>
            <th style="width: 25%">
                <label class="haluwasa-label-input-field" for="emergencyPhone" >Phone Number*</label><br>
                <input ng-model="mainMember.emergencyPhone" style="width: 100%;" type="tel" id="emergencyPhone" name="emergencyPhone" required>
            </th>
            <th style="width: 25%">
                <label class="haluwasa-label-input-field" for="emergencyRelationship">Relationship*</label>
                <input ng-model="mainMember.emergencyRelationship" style="width: 100%;" type="text" id="emergencyRelationship" name="emergencyRelationship" required>
            </th>
        </tr>
    </table>


    <!--Payment-->
    <br>
    <hr>
    <h1 style="font-size: 30px; margin-left: 20px;">Payment</h1><br>
    <label class="haluwasa-label-input-field" style="margin-left: 20px;" for="methodOfPayment">Method of Payment*</label><br>
    <select ng-model="mainMember.methodOfPayment" style="height: 70px; margin-left: 20px;" id="methodOfPayment" name="methodOfPayment" required>
        <option value="Check">Check</option>
        <option value="Cash">Cash</option>
    </select><br>
    <p style="margin-left: 20px; font-size: 20px;" ng-if="mainMember.methodOfPayment == 'Check'">
        **Please send all check payments to:<br>
        <b>Haluwasa Registration Team <br>
            9615 Park Ave, Laurel, MD 20723</b>
    </p>
    <p style="margin-left: 20px; font-size: 20px;" ng-if="mainMember.methodOfPayment == 'Cash'">
        **All cash payments are paid in person
    </p>


    <!--Total Fee-->
    <br>
    <hr>
    <h1 style="font-size: 30px; margin-right: 20px; float: right">Total Fee: ${{totalFee}}</h1>
    <br><br><br>


    <!--submit button-->
    <button class="haluwasa-button-submit" style="float: right; margin-right: 20px; text-align: center" ng-click="submit()">Submit</button>
</form>